##
APP__SAVE_TO_DISK=false or true
APP__SEND_TO_EMAIL=true or false
APP__TEMPLATE_FILE_NAME=application
APP__TEMPLATE_FILE_TYPE=docx or md or html
## server
SERVER__LOGGING_LEVEL=DEBUG or INFO or WARNING or ERROR or CRITICAL
## smtp -- SSL
#EMAIL_SENDER__PROTOKOL=SSL
#EMAIL_SENDER__PORT=465
#EMAIL_SENDER__SERVER=smtp.gmail.com
## https://myaccount.google.com/apppasswords
#EMAIL_SENDER__EMAIL="your_username@gmail.com"
#EMAIL_SENDER__PASSWORD="your pass for app"
## smtp -- TLS
EMAIL_SENDER__PROTOKOL=TLS
EMAIL_SENDER__PORT=587
EMAIL_SENDER__SERVER=smtp.office365.com
## https://mysignins.microsoft.com/security-info
EMAIL_SENDER__EMAIL="your_username@your_company.com"
EMAIL_SENDER__PASSWORD="yourpassforapp"
##
EMAIL_RECIPIENT__TO="to_email@your_company.com"
EMAIL_RECIPIENT__CC="cc_email@your_company.com"
EMAIL_RECIPIENT__BCC="bcc_email@your_company.com"
##
GOOGLE_ANALYTICS__ID=G-YOURID
GOOGLE_ANALYTICS__SECRET_KEY=yOurApIsEcreTforGA
